[user]
	name = Isao Yagi
	email = isao.yagi@gmail.com

[color]
	;colorize output on console
	ui = auto

[pack]
	; use all cpu cores
	threads = 0

[core]
	;ok for git, broken on tig -> editor = bbedit --wait --resume
	editor = bbedit..sh
	excludesfile = ~/.gitignore

[web]
	;hyperlinked man pages
	browser = lynx

[alias]
	bbdiff = difftool --no-prompt --extcmd bbdiff

[tig]
	tab-size = 2
	author-width = 3
	show-rev-graph = yes
	horizontal-scroll = 25%

