[user]
	name = Isao Yagi
	email = isao.yagi@gmail.com

[core]
	pager = cat
	;works for git, not tig
	;editor = bbedit --wait --resume
	editor = bbedit..sh
	excludesfile = ~/.gitignore

[color]
	;colorize output on console
	ui = auto

[pack]
	; use all cpu cores
	threads = 0

[web]
	;hyperlinked man pages
	browser = lynx

[alias]
	bbdiff = difftool --no-prompt --extcmd bbdiff "$LOCAL" "$REMOTE"

[diff]
	tool = bbdiff
[difftool]
	prompt = no
[difftool "bbdiff"]
	cmd = bbdiff --wait --resume "$LOCAL" "$REMOTE"

[merge]
	tool = bbdiff
[mergetool]
	prompt = no
[mergetool "bbdiff"]
	cmd = bbdiff --wait --resume "$LOCAL" "$REMOTE"

[tig]
	tab-size = 2
	author-width = 3
	show-rev-graph = yes
	horizontal-scroll = 20%
	;split-view-height = 80%
