[user]
	name = Isao Yagi
	email = isao.yagi@gmail.com

[core]
	pager = cat
	;works for git, not tig:
	;  editor = bbedit --wait --resume
	;file bbedit..sh:
	;  #!/bin/sh
	;  bbedit --wait --resume $@
	editor = bbedit..sh
	excludesfile = ~/.gitignore

[color]
	;colorize output on console
	ui = auto

[pack]
	; use all cpu cores
	threads = 0

[web]
	;hyperlinked man pages
	browser = lynx

[diff]
	tool = bbdiff
[difftool]
	prompt = no
[difftool "bbdiff"]
	cmd = bbdiff --wait --resume "$LOCAL" "$REMOTE"
[alias]
	bbdiff = difftool

[merge]
	tool = bbdiff
[mergetool]
	prompt = no
[mergetool "bbdiff"]
	cmd = bbdiff --wait --resume "$LOCAL" "$REMOTE"
[alias]
	bbmerge = mergetool

[tig]
	tab-size = 2
	author-width = 3
	horizontal-scroll = 20%
	split-view-height = 85%
	show-rev-graph = yes

[tig "bind"]
	;allow escape to toggle between main and status views
	generic = Escape view-close
	main = Escape view-status
	
	;reveal current selection in Finder or a new Terminal window
	generic = - !open -R %(file)
	generic = = !/Users/isao/Repos/shell/osx/terminal/newterm.sh %(directory)

	;sends all files to stage or commit to bbdiff
	status = , !git bbdiff
	stage = , !git bbdiff
